<template>
  <div class="container">
    <h2>Editar Tarea</h2>
    {{ tarea }}
    <form @submit.prevent="editarTarea(tarea)">
      <input type="text" class="form-control mb-2" v-model="tarea.nombre">
      <b-button type="submit" variant="primary">Editar</b-button>
    </form>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { db } from "@/plugins/firebase";

export default {
  fetch({ store, params }) {
    return db.collection('tareas').doc(params.id).get()
      .then(item => {
        if (item.exists) {
          let tarea = item.data()
          tarea.id = item.id
          return store.commit('setTarea', tarea)
        }
      })
      .catch(e => {
        console.log(e);
      })
  },
  computed: {
    tarea: {
      get () {
        return {
          nombre: this.$store.state.tarea.nombre,
          id: this.$store.state.tarea.id
        }
      }
    }
  },
  methods: {
    ...mapActions(['editarTarea'])
  }
}
</script>
