<template>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h1>{{ articulo.title }}</h1>
        <p class="small">
          {{ articulo.author }}
        </p>
        <p>
          {{ articulo.body }}
        </p>
        <NuxtLink to="/blog" class="btn btn-secondary">
          Atras
        </NuxtLink>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  async asyncData ({ params }) {
    try {
      const res = await axios.get(`https://jsonplaceholder.typicode.com/posts/${params.id}`)
      const resAutor = await axios.get(`https://jsonplaceholder.typicode.com/users/${res.data.userId}`)
      const articulo = res.data
      articulo.author = resAutor.data.name
      return { articulo }
    } catch (error) {
      return { error }
    }
  },
  data () {
    return {
    }
  }
}
</script>
