<template>
  <div class="container">
    <div v-for="articulo in articulos" :key="articulo.id" class="card mb-2">
      <div class="card-body">
        <NuxtLink :to="`/blog/${articulo.id}`">
          <h1>{{ articulo.title }}</h1>
        </NuxtLink>
        <p>{{ articulo.body }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      articulos: []
    }
  },
  async created () {
    try {
      const res = await axios.get('https://jsonplaceholder.typicode.com/posts?_limit=10')
      this.articulos = res.data
    } catch (e) {
      console.error(e)
    }
  }
}
</script>
